$color-green: #26C281;

$color-orange: #FF6448;
$color-orange-light: #FFA03D;

$color-black: #222222;

$color-gray: rgba(22, 22, 22, 0.5);
$color-gray-light: rgba(34, 34, 34, 0.1);
$color-gray-lightest: rgba(34, 34, 34, 0.05);

$color-background-gray: #f2f2f2;
$color-white: #fff;

$mq-bp-first: 55em;
$mq-bp-final: 45em;
