.filter-pills {
  &__pill {
    color: #29275f;
    margin-bottom: 7px;
    background-color: #eaf2fa;
    padding: 5px 12px;
    line-height: 1;
    border-width: 0;
    white-space: pre-wrap;
    line-height: 1.5;
  }
}
