* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // used to control rem based relative properties values
  font-size: 62.5%;
}

body {
  // background: $color-background-gray;
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button:focus {
  outline: 1px solid transparent;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.thumb--24x24 {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}

.thumb--36x36 {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
}