@import '../abstract/variables';

.news-feed {
  &__brief {
    color: #929cb7;
    padding: 15px 15px;
    font-size: 1.3rem;
  }
  &__filters {
    padding: 10px 15px;
  }
}

.news-feed-infinite-scroll {
  .ant-list-item {
    .ant-collapse {
      width: 100%;
    }
  }
  .news-card--disabled {
    .ant-collapse-content {
      display: none;
    }
  }
}

.companies-list {
  & .ant-table-thead > tr > th {
    background-color: transparent;
  }
  & .ant-table-row {
    &:hover {
      & .companies-list__action {
        &--view-leads {
          visibility: visible;
        }
      }
    }
  }
}
.news-feed-filter-tabs {
  .subcategories-drop-down,
  .news-theme-drop-down {
    margin-right: 30px;
  }
  .ant-tabs-content > .ant-tabs-tabpane {
    border-radius: 0;
    border-width: 0;
  }
}

.custom-multi-select {
  & .ant-select-show-search.ant-select-multiple .ant-select-selector {
    width: 400px;
  }
  & .ant-select-multiple {
    & .ant-select-selection-item {
      display: none;
    }
  }
  &__display-area {
    margin-top: 10px;
    margin-left: -5px;
    & .ant-tag {
      padding: 5px 12px;
      border-radius: 5px;
      background: #fff;
      border: 1px solid #5e81f4;
      color: #5e81f4;
      margin: 7px;
      &-close-icon {
        color: #5e81f4;
      }
    }
  }
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  &__title {
    padding: 7px 0px;
  }
  &__actions {
    & button {
      margin-left: 10px;
    }
  }
}

.preferences-drawer__form-field {
  margin-bottom: 20px;
  color: #929cb7;
}

.company-info-details__website {
  margin-bottom: 5px;
}

.propensity-brief {
  width: 250px;
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 15px;
  margin-bottom: 0;
  padding: 5px 0px;
  & > li {
    & > span {
      color: #f64b53;
    }
  }
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

.buying-signal-strength {
  position: relative;
  display: inline-block;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 90px;
    margin-bottom: 15px;
  }
}

.linked-title {
  margin-bottom: 4px;
  font-size: 14px;
  color: #5753b5;
  .ant-checkbox {
    margin-right: 5px;
    margin-top: 5px;
  }
  .ant-checkbox-wrapper {
    font-size: 14px;
    color: #5753b5;
    display: flex;
    .ant-checkbox-checked::after,
    .ant-checkbox-input {
      height: 20px;
    }
  }
}

.filters-selecter-unit__filter-name {
  text-transform: capitalize;
}

.filters-selecter-unit {
  padding: 10px 0px;
}

.filters-selecter-unit__filter-details {
  font-size: 12px;
}

.filters-selecter-unit__filter-details-unit {
  line-height: 1;
  padding-right: 5px;
  b {
    display: inline-block;
    padding-right: 5px;
    border-left: 1px solid;
    padding-left: 5px;
  }
  &:first-child b {
    border-left-width: 0px;
    padding-left: 0px;
  }
  span {
    display: inline-block;
  }
}

.filters-selecter-unit__filter-details-unit--value {
  margin-right: 3px;
}

.filters-selecter-unit__filter-details-unit--value:last-child {
  margin-right: 0px;
}

.news-feed-filter-tabs {
  min-height: 650px;
  .ant-tabs-nav {
    background: #f8faff;
    margin-bottom: 0px;
    .ant-tabs-nav-more {
      .anticon-ellipsis {
        padding: 8px;
        background: #e6f4ff;
      }
    }
  }
  .ant-tabs-nav-wrap {
    padding-left: 15px;
  }
  .ant-tabs-tab {
    color: #929cb7;
  }
  .infinite-list-body {
    height: 608px;
    overflow-y: scroll;
  }
}

.news-feed-infinite-scroll {
  padding-left: 5px;
}

.news-feed {
  &-infinite-scroll {
    .ant-list-items {
      .ant-list-item {
        border-bottom-width: 0px;
      }
    }
  }
}

.news-feed-infinite-scroll .ant-list-items .ant-list-item {
  border-bottom-width: 0px;
  border-bottom: 1px solid #5e81f41a;
}

.news-feed-infinite-scroll .ant-list-items .ant-list-item:hover {
  border-bottom-color: transparent;
  .news-card {
    box-shadow: 5px 10px 10px #5e81f41a;
    border-left: 1px solid #5e81f41a;
    background: #ffffff 0% 0% no-repeat padding-box;
  }
}

.news-card {
  .ant-btn {
    border-color: transparent;
    color: #929cb7;
    &.ant-btn-danger {
      border-color: #ff4d4f;
      color: #fff;
    }
  }
  a.ant-btn {
    padding-top: 0px;
  }
  .ant-btn:hover,
  .ant-btn:focus {
    color: #5e81f4;
    background: #fff;
    border-color: transparent;
  }
}
